<!doctype html>
<html lang="en" th:replace="normal/base::layout(~{::section})" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Document</title>
</head>
<body>
<section>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="container text-center">
                    <img alt="profile photo" class="my_profile_picture"
                         style="height: 200px; width: 200px;" th:src="@{'/images/'+${user.imageUrl}}">
                </div>
                <h1 class="text-center mt-3" th:text="${user.name}"></h1>
                <table class="table text-center">
                    <thead>
                    <tr>
                        <th scope="col">USERID</th>
                        <th scope="col">SCMUSER<span th:text="${user.id}"></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Email</th>
                        <td th:text="${user.email}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Role</th>
                        <td th:text="${user.role}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Account Active</th>
                        <td th:text="${user.enabled}"></td>
                    </tr>
                    <tr>
                        <th scope="row">About you</th>
                        <td th:text="${user.about}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>