<!doctype html>
<html lang="en" th:replace="normal/base::layout(~{::section})" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">


    <title>Document</title>
</head>
<body>
<section>
    <div class="card mr-3 ml-3">
        <div class="card-body">
            <h1 class="text-center">Your Contacts</h1>
            <div class="search-container my-3">
                <input onkeyup="search()" id="search-input" type="text" class="form-control" placeholder="Search your contact"></input>
            <div class="search-result">

            </div>
            </div>


            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c : ${contacts}">
                    <th scope="row" th:text="${'SCMUSER'+c.conId}">1</th>
                    <td>
                        <img alt="profile photo" class="my_profile_picture" th:src="@{'/images/'+${c.image}}">
                        <span th:text="${c.name}"></span>
                    </td>
                    <td>
                        <a th:href="@{'/user/contact/'+${c.conId}}">
                            <span th:text="${c.email}"></span>
                        </a>
                    </td>
                    <td th:text="${c.phone}"></td>
                    <td>
                        <button class="btn btn-outline-danger btn-sm" th:onclick="|deleteContact(${c.conId})|">Delete
                        </button>
                        <form class="mt-2" method="post" th:action="@{'/user/update-contact/'+${c.conId}}">
                            <button class="btn btn-outline-primary btn-sm" type="submit">Edit</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" th:if="${currentPage!=0}"><a class="page-link"
                                                                       th:href="@{'/user/show-contacts/'+${currentPage-1}}">Previous</a>
                    </li>
                    <li class="page-item" th:classappend="${currentPage==i-1?'active':''}"
                        th:each="i : ${#numbers.sequence(1,totalPages)}">
                        <a class="page-link" th:href="@{'/user/show-contacts/'+${i-1}}">
                            <span th:text="${i}"></span></a></li>
                    <li class="page-item" th:if="${currentPage+1 != totalPages}"><a class="page-link"
                                                                                    th:href="@{'/user/show-contacts/'+${currentPage+1}}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</section>
</body>
</html>