<!doctype html>
<html lang="en" th:replace="base::layout(~{::section})" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <title>Login</title>
</head>
<body>
<section>
    <div id="login">
        <div class="container">
            <div class="row justify-content-center align-items-center" id="login-row">
                <div class="col-md-6" id="login-column">
                    <div class="col-md-12" id="login-box">
                        <form class="form" id="login-form" method="post">
                            <h3 class="text-center text-info">Login</h3>
                            <div class="alert alert-danger" th:if="${param.error}">Invalid username and password
                            </div>
                            <div class="alert alert-success" th:if="${param.logout}">You have been logged out</div>
                            <div class="form-group">
                                <label class="text-info" for="username">Username:</label><br>
                                <input class="form-control" id="username" name="username" required type="text">
                            </div>
                            <div class="form-group">
                                <label class="text-info" for="password">Password:</label><br>
                                <input class="form-control" id="password" name="password" required type="password">
                            </div>
                            <div class="form-group">
                                <label class="text-info" for="remember-me"><span>Remember me</span> <span><input
                                        id="remember-me" name="remember-me" required type="checkbox"></span></label><br>
                                <input class="btn btn-info btn-md" name="submit" type="submit" value="submit">
                            </div>
                            <div class="text-right" id="register-link">
                                <a class="text-info" href="/sign-up">Register here</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>